.NavBar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.NavBar-right {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: blue;
  font-size: 1em;
}

.NavBar-logout-btn {
  color: blue;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 1em;
}

nav a.active{
  font-weight: bold;
  color: black;
}

